<!DOCTYPE html>
<html ng-app="AngujarJS" ng-controller="CentroDeCosto">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> SmartLunch</title>
    <meta name="description" content="SmartLunch">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/smartstyle.css">
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <style>
        /* Estilos para mejorar la visualización del formulario en celulares */
        @media (max-width: 768px) {
            .form-group {
                max-width: 500px;
                margin: auto;
            }

            .form-control {
                width: 100% !important;
            }

            form.form-group {
                max-width: 100%;
                margin: auto;
            }

            .btn {
                width: 100%; /* Botones más grandes y fáciles de tocar */
                font-size: 1rem;
            }

            .d-flex.gap-2 {
                flex-direction: column; /* Botones uno debajo del otro */
            }
            .btn-guardar,
            .btn-cancelar {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>

</head>

    <body data-spy="scroll" data-target="#navbar" class="static-layout" >
        <div class="container-fluid" ng-app="AngujarJS" ng-controller="CentroDeCosto">

            <div class="solid-background">
                <!-- Menu -->
                <div ng-include="'navbar.html'"> </div>
                <!-- Titulo -->
                <div class="heading-section bg-dark text-white pt-2 pl-3" style="margin-bottom: 0 !important; padding-bottom: 10px !important;">
                    <h3 ng-bind="titulo"> </h3>
                </div>
                <!-- Migas de Pan
    <nav aria-label="breadcrumb" ng-show="ViewAction == 'Nuevo' || ViewAction == 'Editar'" class="mt-0" style="margin-top: 0 !important; padding-top: 0 !important;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> Configuración</li>
            <li class="breadcrumb-item"> <a href="#" ng-click="ViewCancel()"> Centro de Costo</a> </li>
            <li class="breadcrumb-item"> {{ ViewAction }}</li>
        </ol>
    </nav>-->
                <div class="container-fluid" style="margin-top: 0 !important;">
                    <div class="row my-3">
                        <div class="col-md-12 text-right" ng-show="ViewAction !== 'Nuevo' && ViewAction !== 'Editar'">
                            <button type="button" class="btn btn-primary mb-2 mr-3"
                                    ng-click="ViewCreate()"
                                    style="padding: 0.25rem 0.75rem;">
                                <i class="fa fa-plus text-white" style="font-size:16px; font-weight:800;"></i> Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <label for="buscarPlato" ng-show="ViewAction !== 'Nuevo' && ViewAction !== 'Editar'">Buscar</label>
                            <input type="text" class="form-control" ng-model="searchText"
                                   title="Buscar Centro de costo"
                                   ng-show="ViewAction !== 'Nuevo' && ViewAction !== 'Editar'"
                                   id="buscarPlato">
                        </div>

                    </div>
                    <hr ng-show="ViewAction !== 'Nuevo' && ViewAction !== 'Editar'">

                    <div ng-if="ViewAction==='Lista de Items'">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead style="font-size: 14px;">
                                    <tr class="bg-dark text-white">
                                        <th>Nombre</th>
                                        <th class="d-none d-md-table-cell">Descripción</th>
                                        <th>Planta</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in (filteredData = (dataset | filter:searchText)) | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td>{{item.nombre}}</td>
                                        <td class="d-none d-md-table-cell">{{item.descripcion}}</td>
                                        <td>{{item.planta}}</td>
                                        <td class="text-center col-1">
                                            <a href="#" ng-click="ViewUpdate(item.id)"><i class="fa fa-edit" style="color:rebeccapurple"></i></a>
                                            <a class="ml-2" href="#" ng-click="ViewDelete(item.id)"><i class="fa fa-trash" style="color:red"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Paginación -->
                        <nav aria-label="Page navigation" class="mt-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" ng-class="{disabled: currentPage == 0}">
                                    <a class="page-link" href="#" ng-click="currentPage = currentPage - 1"
                                       aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" ng-repeat="n in getNumber(totalPages) track by $index"
                                    ng-class="{active: $index == currentPage}">
                                    <a class="page-link" href="#" ng-click="currentPage = $index">{{$index + 1}}</a>
                                </li>
                                <li class="page-item" ng-class="{disabled: currentPage + 1 >= totalPages}">
                                    <a class="page-link" href="#" ng-click="currentPage = currentPage + 1"
                                       aria-label="Siguiente">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div ng-if="ViewAction==='Nuevo'">
                        <div class="container-fluid">
                            <div class="dishes-text col-12">
                                <form class="form-group" name="centroForm" ng-submit="ModelCreate(centroForm.$valid)" novalidate>
                                    <div class="pb-3 form-group">
                                        <label for="view_nombre">Nombre</label>
                                        <input ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$/"
                                               ng-minlength="2"
                                               ng-maxlength="20"
                                               class="form-control w-100"
                                               type="text"
                                               id="view_nombre"
                                               name="view_nombre"
                                               ng-model="view_nombre"
                                               placeholder="Ingrese nombre"
                                               required>
                                    </div>
                                    <div class="pb-3 form-group">
                                        <label for="view_descripcion">Descripción</label>
                                        <input ng-pattern="/^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ.,:()\- ]*$/"
                                               ng-minlength="4"
                                               ng-maxlength="140"
                                               class="form-control w-100"
                                               type="text"
                                               id="view_descripcion"
                                               name="view_descripcion"
                                               ng-model="view_descripcion"
                                               placeholder="Ingrese descripción"
                                               required>
                                    </div>
                                    <div class="pb-3 form-group">
                                        <label for="view_planta">Planta</label>
                                        <select class="form-control w-100"
                                                id="view_planta"
                                                ng-model="view_planta"
                                                required>
                                            <option value="" disabled selected hidden>-- Seleccioná una planta --</option>
                                            <option ng-repeat="x in plantas" value="{{x.nombre}}">{{x.nombre}}</option>
                                        </select>
                                    </div>


                                    <div class="d-flex gap-2 mt-3">
                                        <button type="submit" class="btn btn-primary" ng-disabled="centroForm.$invalid">Guardar</button>
                                        <button type="button" class="btn btn-primary" ng-click="ViewCancel()">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-if="ViewAction==='Editar'">
                        <div class="container-fluid">
                            <div class="dishes-text col-12">
                                <form class="form-group" name="centroForm" ng-submit="ModelUpdate(centroForm.$valid, view_id)" novalidate>
                                    <div class="pb-3 form-group">
                                        <label for="view_nombre">Nombre</label>
                                        <input ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*$/" ng-minlength="2" ng-maxlength="20" class=" form-control" type="text" id="view_nombre" name="view_nombre" ng-model="view_nombre" placeholder="Ingrese nombre" required>
                                        <span ng-show="centroForm.view_nombre.$error.pattern" class="text-danger">Caracteres inválidos.</span><span ng-show="centroForm.view_nombre.$error.required && centroForm.view_nombre.$dirty" class="text-danger">Nombre requerido.</span>
                                    </div>
                                    <div class="pb-3 form-group">
                                        <label for="view_descripcion">Descripción</label>
                                        <input ng-pattern="/^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ.,:()\- ]*$/"
                                               ng-minlength="4"
                                               ng-maxlength="140"
                                               class=" form-control"
                                               type="text"
                                               id="view_descripcion"
                                               name="view_descripcion"
                                               ng-model="view_descripcion"
                                               placeholder="Ingrese descripción"
                                               required>

                                        <span ng-show="centroForm.view_descripcion.$error.pattern" class="text-danger">Caracteres inválidos.</span><span ng-show="centroForm.view_descripcion.$error.required && centroForm.view_descripcion.$dirty" class="text-danger">Descripción requerida.</span>
                                    </div>
                                    <div class="pb-3 form-group">
                                        <label for="view_planta">Planta</label>
                                        <select class=" form-control" id="view_planta" ng-model="view_planta" required>
                                            <option ng-repeat="x in plantas" value="{{x.nombre}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn-primary mt-3" ng-disabled="centroForm.$invalid">Guardar</button>
                                    <button type="button" class="btn-primary mt-3" ng-click="ViewCancel()">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Footer -->
            <div ng-include="'footer.html'"></div>
        </div>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js "></script>
    <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
    <script src="vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Main JS -->
    <!-- Main JS -->
    <script src="js/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="js/centrodecosto.js"></script>
</body>
</html>
