<!DOCTYPE html>
<html lang="es" ng-app="AngujarJS" ng-controller="ReportegComensales">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmartLunch</title>
    <meta name="description" content="SmartLunch">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- External CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/smartstyle.css">
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }

        body {
            min-height: 100vh;
        }

        .container-fluid {
            flex: 1 0 auto;
        }

        footer, .footer-container, [ng-include="'footer.html'"] {
            flex-shrink: 0;
        }
        @media (max-width: 768px) {
            .container, .container-fluid {
                padding-left: 10px;
                padding-right: 10px;
            }

            .row {
                flex-direction: column;
            }

            .form-group {
                margin-bottom: 1rem;
                width: 100% !important;
            }

            .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
            .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            table thead {
                display: none;
            }

            table tbody tr {
                display: block;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                padding: 10px;
            }

            table tbody td {
                display: block;
                width: 100%;
                text-align: right;
                position: relative;
                padding-left: 50%;
            }

                table tbody td::before {
                    content: attr(data-label);
                    position: absolute;
                    left: 10px;
                    width: 45%;
                    padding-right: 10px;
                    font-weight: bold;
                    text-align: left;
                }

            .modal-dialog {
                max-width: 95% !important;
            }
            container,
            .container-fluid,
            .row,
            .form-group,
            .form-control,
            button,
            input,
            select {
                max-width: 100% !important;
                box-sizing: border-box;
            }
            .form-group {
                padding-left: 30px !important;
                padding-right: 10px !important;
            }

            button,
            input,
            select {
                width: 100% !important;
            }

            .navbar-toggler {
                padding: 0.25rem 0.5rem !important;
                height: auto !important;
                min-height: auto !important;
                box-shadow: none;
                max-width: 25% !important;
            }

            .navbar-toggler-icon {
                font-size: 1.2rem;
            }
           
        }
    </style>

</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1">
        <div class="solid-background">


            <!-- Menu -->
            <div ng-include="'navbar.html'"></div>
            <!-- Titulo -->
            <div class="heading-section bg-dark text-white pt-2 pl-3">
                <h3>
                    Reporte por Comensal
                </h3>
            </div>

            <div ng-if="ViewAction == 'inicio'" class="container-fluid mr-3 dishes-text" style="min-height: 370px">
                <div class="container">
                    <div class="row">
                        <div class="form-group pl-3">
                            <span>Desde</span><input class="form-control" type="date" id="dia_desde" ng-model="dia_desde" />
                            <span ng-if="desdewarning" class="text-danger">Una fecha de inicio es requerida</span>
                        </div>
                        <div class="form-group pl-3">
                            <span>Hasta</span><input class="form-control" type="date" id="dia_hasta" ng-model="dia_hasta" />
                            <span ng-if="hastawarning" class="text-danger">Una fecha de fin es requerida</span>
                        </div>
                        <div class="form-group pl-3">
                            <span>Legajo</span>
                            <input id="filtro_user" ng-model="filtro_user" class="form-control" type="number" />
                        </div>
                        <div class="form-group pl-3">
                            <span>Buscar comensal</span>
                            <button class="form-control" style="width: 100px; cursor: pointer;" data-target="#userSearch" data-toggle="modal" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <br />
                    <span ng-if="legajowarning" class="text-danger">Se necesita un legajo para consultar comensal</span>
                    <button type="button" class="form-control col-1 w-100" ng-click="buscarUsuario()" style="cursor: pointer;">Ir</button>
                    <div class="modal fade container-fluid" id="userSearch" tabindex="-2" role="dialog" aria-hidden="true">
                        <div style="max-width: 50% !important;" class="modal-dialog container-fluid" role="document">
                            <div class="modal-content container-fluid">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="userModalLabel">Busqueda de usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body container-fluid">
                                    <span>Buscar por nombre, apellido o legajo</span>
                                    <input ng-model="filtro_comensal" ng-keyup="filtraUsuarios()" name="filtro_comensal" id="filtro_comensal" type="text" class="form-control col-4" />
                                    <br />
                                    <div class="col-12">
                                        <span>Comensales</span>
                                        <table class="table table-hover table-sm">
                                            <thead style="font-size: 14px;">
                                                <tr class="bg-dark text-white row">
                                                    <th class="col-4">Nombre</th>
                                                    <th class="col-4">Apellido</th>
                                                    <th class="col-4">Legajo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="planitem row" style="cursor:pointer;" ng-repeat="item in filterUser | startFrom:currentPageusers*pageSizeusers | limitTo:pageSizeusers" ng-click="AgregaUser(item.legajo)">
                                                    <td class="col-4">{{item.nombre}}</td>
                                                    <td class="col-4">{{item.apellido}}</td>
                                                    <td class="col-4">{{item.legajo}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-secondary btn-sm" ng-disabled="currentPageusers == 0" ng-click="currentPageusers=currentPageusers-1" style="cursor: pointer;">
                                                Anterior
                                            </button>
                                            {{currentPageusers+1}}/{{numberOfPagesusers()}}
                                            <button class="btn btn-secondary btn-sm" ng-disabled="currentPageusers+1 == numberOfPagesusers()" ng-click="currentPageusers=currentPageusers+1" style="cursor: pointer;">
                                                Siguiente
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn  btn-primary bg-secondary" data-dismiss="modal" style="cursor: pointer;">Volver</button>
                                        <button type="button" class="btn btn-primary" ng-click="SelectFiltros()" style="cursor: pointer;">Guardar cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ViewAction == 'pedidos'">
                <div class="container-fluid row">
                    <div class="md-form mt-0 pl-2 col-1">
                    </div>
                    <div class="mt-0 col-5 row">
                        <div><span class="header-attribute col">Nombre:</span><span>{{reportes.nombre}} {{reportes.apellido}}</span></div>
                        <div><span class="header-attribute col">DNI:</span><span>{{reportes.dni}}</span></div>
                    </div>
                    <div class="mt-0 col-5 row">
                        <div class="col">
                            <div><span class="header-attribute">C/ platos consumidos:</span><span> {{cantcons}}</span></div>
                            <div><span class="header-attribute">Bonificados del mes:</span><span> {{reportes.bonificados}}</span></div>
                        </div>
                        <div class="col">
                            <div><span class="header-attribute">Costo total: $</span><span>{{reportes.monto}}</span></div>
                            <div><span class="header-attribute">Platos invitados:</span><span> {{reportes.bonificadosInvitados}}</span></div>
                        </div>
                    </div>
                    <button href="#" data-target="#filtrosModal" ng-click="cargafiltro()" data-toggle="modal" type="button" class="btn btn-default col-1 mt-4" aria-label="searchbutton" style="cursor: pointer;">
                        <span aria-hidden="true">Elegir filtros</span>
                    </button>
                </div> <!--TOTALES ROW-->
                <div class="dishes-text row mb-2">
                    <div class="col-sm-8 ml-0 pl-4 mt-2">
                        <h5 style="margin-bottom: 0px; padding-top:5px"><span>Pedidos {{view_rango1}} - {{view_rango2}}</span></h5>
                    </div>
                </div> <!--PEDIDOS ROW-->
                <div class="container-fluid mr-3" style="min-height: 428px">
                    <hr style="border-top: 2px solid rgba(0,0,0,.1); margin-top: 0px !important;">
                    <div class="container-fluid">
                        <div class="dishes-text col-12">
                            <table class="table table-hover table-sm">
                                <thead style="font-size: 14px;">
                                    <tr class="bg-dark text-white row">
                                        <th class="col-1">Fecha</th>
                                        <th class="col-1">Hora</th>
                                        <th class="col-2">CC</th>
                                        <th class="col-2">Proyecto</th>
                                        <th class="col-2">Plato</th>
                                        <th class="col-1">Calificación</th>
                                        <th class="col-2">Costo</th>
                                        <th class="col-1">Invitado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="planitem row" ng-repeat="item in dataset.consumidos | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td class="col-1">{{item.createdate | formatDate}}</td>
                                        <td class="col-1">{{item.createdate | formatHour}}</td>
                                        <td class="col-2">{{item.centrodecosto}}</td>
                                        <td class="col-2">{{item.proyecto}}</td>
                                        <td class="col-2">{{item.cod_plato}}</td>
                                        <td class="col-1">{{item.calificacion}}</td>
                                        <td class="col-2">${{item.monto}}</td>
                                        <td class="col-1">{{item.invitado | formatBool}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <button class="btn btn-secondary btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" style="cursor: pointer;">
                                    Anterior
                                </button>
                                {{currentPage+1}}/{{numberOfPages()}}
                                <button class="btn btn-secondary btn-sm" ng-disabled="currentPage+1 == numberOfPages()" ng-click="currentPage=currentPage+1" style="cursor: pointer;">
                                    Siguiente
                                </button>
                            </div>
                            <div class="modal fade container-fluid" id="filtrosModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div style="max-width: 100% !important;" class="modal-dialog container-fluid" role="document">
                                    <div class="modal-content container-fluid">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pedidoModalLabel">Opciones de filtrado</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body container-fluid">
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    <label for="filtro_dia_desde">Desde</label>
                                                    <input class="form-control" name="filtro_dia_desde" type="date" id="filtro_dia_desde" ng-model="filtro_dia_desde" />
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="filtro_dia_hasta">Hasta</label>
                                                    <input class="form-control" name="filtro_dia_hasta" type="date" id="filtro_dia_hasta" ng-model="filtro_dia_hasta" />
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="filtro_turno">Turno</label>
                                                    <select class="form-control" name="filtro_turno" id="filtro_turno" ng-model="filtro_turno">
                                                        <option style="display:none" value="">Selecciona turno</option>
                                                        <option ng-repeat="x in turnos" value="{{x.codigo}}">{{x.descripcion}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    <label for="filtro_legajo">Legajo</label>
                                                    <input class="form-control" type="number" name="filtro_legajo" id="filtro_legajo" ng-model="filtro_legajo">
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="filtro_centrodecosto">Centro de costo</label>
                                                    <select class="form-control" name="filtro_centrodecosto" id="filtro_centrodecosto" ng-model="filtro_centrodecosto">
                                                        <option style="display:none" value="">Seleccione CC</option>
                                                        <option ng-repeat="x in centrosdecosto" value="{{x.nombre}}">{{x.nombre}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="filtro_proyecto">Proyecto</label>
                                                    <select class="form-control" name="filtro_proyecto" id="filtro_proyecto" ng-model="filtro_proyecto">
                                                        <option style="display:none" value="">Selecciona proyecto</option>
                                                        <option ng-repeat="x in proyectos" value="{{x.nombre}}">{{x.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <span ng-if="warningon" class="text-danger">*El rango de fechas y Legajo son filtros obligatorios</span>
                                                <button class="btn btn-primary" ng-click="ClearFiltros()" style="cursor: pointer;">Limpiar Filtros</button>
                                                <button type="button" class="btn  btn-primary bg-secondary" data-dismiss="modal" style="cursor: pointer;">Volver</button>
                                                <button type="button" class="btn btn-primary" ng-click="SelectFiltros()" style="cursor: pointer;">Guardar cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Footer -->
        <div class="mt-auto" ng-include="'footer.html'"></div>
    </div>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js "></script>
    <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
    <script src="vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Main JS -->
    <!-- Main JS -->
    <script src="js/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="js/reportegcomensales.js"></script>
</body>
</html>
